# Client
/frontend/node_modules
/frontend/build

#Database
/backend/database/__pycache__/

# Server
/backend/server/.venv_fv_3.6
/backend/server/__pycache__/

# Environment variables
.env

# macOS
.DS_Store
